<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ActivacionesWEB</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>uy.com.amensg.activaciones.servlets.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StreamingServlet</servlet-name>
    <servlet-class>uy.com.amensg.activaciones.servlets.StreamingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreamingServlet</servlet-name>
    <url-pattern>/Stream</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SeguridadFilter</filter-name>
    <filter-class>uy.com.amensg.activaciones.filters.SeguridadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SeguridadFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>uy.com.amensg.activaciones.servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <listener>
    <listener-class>uy.com.amensg.activaciones.listeners.SessionExpirationListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>classes</param-name>
      <param-value>
      	uy.com.amensg.activaciones.dwr.ActivacionDWR,
      	uy.com.amensg.activaciones.dwr.ConfigurationDWR,
      	uy.com.amensg.activaciones.dwr.ControlDWR,
      	uy.com.amensg.activaciones.dwr.EmpresaDWR,
      	uy.com.amensg.activaciones.dwr.EstadoActivacionDWR,
      	uy.com.amensg.activaciones.dwr.EstadoControlDWR,
      	uy.com.amensg.activaciones.dwr.FileManagerDWR,
      	uy.com.amensg.activaciones.dwr.MenuDWR,
      	uy.com.amensg.activaciones.dwr.MetadataConsultaDWR,
      	uy.com.amensg.activaciones.dwr.ProductoDWR,
      	uy.com.amensg.activaciones.dwr.RolDWR,
      	uy.com.amensg.activaciones.dwr.SeguridadDWR,
      	uy.com.amensg.activaciones.dwr.TipoActivacionDWR,
      	uy.com.amensg.activaciones.dwr.TipoControlDWR,
      	uy.com.amensg.activaciones.dwr.UsuarioDWR,
      	uy.com.amensg.activaciones.dwr.UsuarioRolEmpresaDWR,
      	
      	uy.com.amensg.activaciones.entities.ActivacionTO, 
      	uy.com.amensg.activaciones.entities.ArchivoTO,
      	uy.com.amensg.activaciones.entities.ControlTO,
      	uy.com.amensg.activaciones.entities.EmpresaTO,
      	uy.com.amensg.activaciones.entities.EstadoActivacionTO,
      	uy.com.amensg.activaciones.entities.EstadoControlTO,
      	uy.com.amensg.activaciones.entities.MenuTO,
      	uy.com.amensg.activaciones.entities.MetadataCondicionTO,
      	uy.com.amensg.activaciones.entities.MetadataConsultaTO,
      	uy.com.amensg.activaciones.entities.MetadataConsultaResultadoTO,
      	uy.com.amensg.activaciones.entities.MetadataOrdenacionTO,
      	uy.com.amensg.activaciones.entities.ProductoTO,
      	uy.com.amensg.activaciones.entities.RolTO,
      	uy.com.amensg.activaciones.entities.TipoActivacionTO,
      	uy.com.amensg.activaciones.entities.TipoControlTO,
      	uy.com.amensg.activaciones.entities.UsuarioTO,
      	uy.com.amensg.activaciones.entities.UsuarioRolEmpresaTO
      </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
</web-app>